<div data-aos="fade-up" class="grid2x2">
    <div box>
        <h2>Scored vs. Expected Goals</h2>
        <div>
            <figure id="multi-bar-1"></figure>
        </div>
    </div>
    <div box>
        <h2>Successful vs. Expected Assists</h2>
        <div>
            <figure id="multi-bar-2"></figure>
        </div>
    </div>
    <div box>
        <h2>Scored vs. Attempted Penalties</h2>
        <div>
            <figure id="multi-bar-3"></figure>
        </div>
    </div>
    <div box>
        <h2>Scored vs. Expected Non Penalty Goals</h2>
        <div>
            <figure id="multi-bar-4"></figure>
        </div>
    </div>
</div>
