.grid2x2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    zoom: 0.9;
    width: 70vw;
    margin-left: 20%;
}
.grid2x2 > div {
    display: flex;
    flex-basis: calc(50% - 40px);
    justify-content: center;
    flex-direction: column;
}
