<div data-aos="fade-up">
    <div data-aos="fade-up" data-aos-duration="500">
        <div class="chart-title-container">
            <img src="assets/images/abtract-1.png" alt="image" />
            <h1 class="chart-title">General statitics</h1>
        </div>
    </div>
    <div data-aos="fade-up">
        <div>
            <div class="italic-text">
                <p>
                    Let’s start-off with the essential question : who’s the best player when it comes to scoring and passing ? This series of graphs
                    will give a general understanding of the global efficiency and accuracy of each player for different metrics.
                </p>
            </div>
            <div data-aos="fade-up" class="statistics-used">
                <div class="statistic-container grid">
                    <table class="statistics">
                        <tr>
                            <td class="stats-variable">G - Goals</td>
                            <td>Number of goals scored by the player</td>
                        </tr>
                        <tr>
                            <td class="stats-variable">xG - Expected Goals</td>
                            <td>Number of goals expected to be scored by the player</td>
                        </tr>
                        <tr>
                            <td class="stats-variable">A - Assists</td>
                            <td>Number of assist passes the player has given</td>
                        </tr>
                        <tr>
                            <td class="stats-variable">xA - Expected Assists</td>
                            <td>Number of assist passes expected to be given by the player</td>
                        </tr>
                        <tr>
                            <td class="stats-variable">PK - Penalty Kicks</td>
                            <td>Penalty kicks scored by the player</td>
                        </tr>
                        <tr>
                            <td class="stats-variable">PKatt - Attempted penalty kicks</td>
                            <td>Total number of penalty kicks, scored or not</td>
                        </tr>
                        <tr>
                            <td class="stats-variable">GminPK - Goals minus penalty kicks</td>
                            <td>Total number of goals without the penalty kicks</td>
                        </tr>
                        <tr>
                            <td class="stats-variable">npxG - Non penalty expected goals</td>
                            <td>The amount of expected goals from the player that are not penalties</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div data-aos="fade-up">
        <div class="container">
            <div data-aos="fade-up" class="text-container">
                <div class="para-title">Here's what it looks like :</div>
                <p class="text-paragraph">Benzema and M’bappé stand out from the rest in every category.</p>
                <p class="text-paragraph">
                    We can see that every player exceeds what was expected for them , except for Sadio Mané. We can also see that Salah is barely over
                    the expected numbers and he's really reliant on the goals scored by penalties.
                </p>
                <p class="text-paragraph">
                    Benzema is the exact opposite, as he missed a bunch of penalties but still exceeded expectation in terms of goals scored.
                </p>

                <p class="text-paragraph">M’bappé seems to be the most productive this year, with his incredible goals and assists rates.</p>
            </div>
            <div data-aos="fade-up" class="grid2x2">
                <div box>
                    <h2>Scored vs. Expected Goals</h2>
                    <div>
                        <figure id="multi-bar-1"></figure>
                    </div>
                </div>
                <div box>
                    <h2>Successful vs. Expected Assists</h2>
                    <div>
                        <figure id="multi-bar-2"></figure>
                    </div>
                </div>
                <div box>
                    <h2>Scored vs. Attempted Penalties</h2>
                    <div>
                        <figure id="multi-bar-3"></figure>
                    </div>
                </div>
                <div box>
                    <h2>Scored vs. Expected Non Penalty Goals</h2>
                    <div>
                        <figure id="multi-bar-4"></figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
