<div data-aos="fade-up">
    <div class="chart-title-container">
        <img src="assets/images/abstract-6.png" alt="image" />
        <h1 class="chart-title">Danger creation in the offensive phase</h1>
    </div>
</div>
<div data-aos="fade-up">
    <div>
        <div class="italic-text">
            <p>
                Scoring and shooting is good. But dribbling and sneaking into the opponent’s defense is also a very important skill. In this section,
                we will see which player is the best at creating an oppressive atmosphere in the opposing area.
            </p>
        </div>
        <div data-aos="fade-up" class="statistics-used">
            <div class="statistic-container grid">
                <table class="statistics">
                    <tr>
                        <td class="stats-variable">CPA</td>
                        <td>Number of balls brought into the opponent's box</td>
                    </tr>
                    <tr>
                        <td class="stats-variable">Succ</td>
                        <td>Number of successful dribble</td>
                    </tr>
                    <tr>
                        <td class="stats-variable">Fld</td>
                        <td>Number of faults caused</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div data-aos="fade-up">
    <div class="container">
        <div data-aos="fade-up" class="text-container">
            <div class="para-title">The most dangerous player is...</div>
            <p class="text-paragraph">
                Mbappé comes first with an outstanding ability to create danger this season. With fifty-eight faults caused, Mbappé was a prime target
                for the teams he faced.
            </p>
            <p class="text-paragraph">
                No wonder when we take a look a the other two stats. He has over 103 successfull dribble, thats almost 2X the amount of Salah's.
            </p>

            <p class="text-paragraph">
                Mbappé also bring the balls brought into the opponent's box twice as often as Benzema. This is quite interesting knowing that Benzema
                was in his own stratosphere in terms of completed passes into the box.
            </p>

            <p class="text-paragraph">This shows us that Benzema has doesn't move as much as Mbappé and Salah.</p>
        </div>
        <div class="grid-container">
            <div data-aos="fade-up">
                <figure id="offensive-danger"></figure>
            </div>
        </div>
    </div>
</div>
