<div data-aos="fade-up">
    <div class="chart-title-container">
        <img src="assets/images/abstract-6.png" alt="image" />
        <h1 class="chart-title">Danger creation in the offensive phase</h1>
    </div>
</div>
<div data-aos="fade-up">
    <div>
        <div class="italic-text">
            <p>
                Scoring and shooting is good. But dribbling and sneaking into the opponent’s defense is also a very important skill. In this section,
                we will see which player is the best at creating an oppressive atmosphere in the opposing area.
            </p>
        </div>
        <div data-aos="fade-up" class="statistics-used">
            <div class="statistic-container grid">
                <div data-aos="fade-up" class="statistic">
                    <p style="font-size: 180%; line-height: 1.2; padding-right: 18em; padding-bottom: 50px">Statistics Used:</p>
                </div>
                <div class="statistic"></div>
                <div class="statistic"></div>
                <div class="statistic"></div>
                <div class="statistic">
                    <p style="font-size: 210%; line-height: 1.2; font-weight: bold">CPA</p>
                </div>
                <div class="statistic">
                    <p>Number of balls brought into the opponent's box</p>
                </div>
                <div class="statistic">
                    <p style="font-size: 210%; line-height: 1.2; font-weight: bold">Succ</p>
                </div>
                <div class="statistic">
                    <p>Number of successful ball presses</p>
                </div>
                <div class="statistic">
                    <p style="font-size: 210%; line-height: 1.2; font-weight: bold">Fld</p>
                </div>
                <div class="statistic">
                    <p>Number of faults caused</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div data-aos="fade-up">
    <div class="container">
        <div class="grid-container">
            <div data-aos="fade-up">
                <figure id="offensive-danger"></figure>
            </div>
        </div>
        <div data-aos="fade-up" class="text-container">
            <h1>The most dangerous player is...</h1>
            <p>
                Mbappé comes first with an outstanding danger creation this season. With fifty-eight faults caused, Mbappé was able to contribute
                heavily into the offensive dynamic of his team.
            </p>
        </div>
    </div>
</div>
