<div class="container" data-aos="fade-up">
    <div>
        <div class="intro-title-container">
            <h1 class="intro-title">Our three finalists</h1>
        </div>
    </div>

    <div data-aos="fade-up">
        <div>
            <div class="intro-text">
                <p data-aos="fade-up">
                    After analyzing multiple aspects of the game, it is clear that three players stand out in terms of numbers and accolades. Our
                    choice for the players who are the most likely to be on the podium is as follow :
                </p>
                <p data-aos="fade-up" style="font-weight: bold">Kylian Mbappe&nbsp;&nbsp;Karim Benzema&nbsp;&nbsp;Mohamed Salah</p>
                <p data-aos="fade-up">
                    To decide between them, we will look at their contribution and influence on both sides of the field. Their defensive contribution
                    as well as the danger that they bring on the offensive side will be analyzed.
                </p>
            </div>
        </div>
    </div>

    <span class="separator"></span>
</div>
