<div class="content">
    <section>
        <app-stacked-bar-chart></app-stacked-bar-chart>
    </section>
    <section>
        <app-scatter-plot-team-success></app-scatter-plot-team-success>
    </section>
    <section>
        <app-bubble-chart-creation></app-bubble-chart-creation>
    </section>
    <section>
        <app-defensive-actions></app-defensive-actions>
    </section>
    <section>
        <app-offensive-danger></app-offensive-danger>
    </section>
    <section>
        <app-waffle-chart></app-waffle-chart>
    </section>
</div>
