body .content {
    width: 100vw;
    height: 100vh;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    // height: 100vh;
}
