<div class="content">
    <section>
        <app-scatter></app-scatter>
    </section>
    <section>
        <app-pie-chart></app-pie-chart>
    </section>
    <section>
        <app-bar-chart></app-bar-chart>
    </section>
    <div>
        <app-stacked-bar-chart></app-stacked-bar-chart>
    </div>
    <section>
        <app-scatter-plot-team-success></app-scatter-plot-team-success>
    </section>
    <section>
        <app-bubble-chart-creation></app-bubble-chart-creation>
    </section>
</div>
