<div class="container" data-aos="fade-up">
    <div>
        <div class="intro-title-container">
            <h1 class="intro-title">Our choice at SportsAI</h1>
        </div>
    </div>

    <div data-aos="fade-up">
        <div>
            <div class="intro-text">
                <p data-aos="fade-up">
                    This year, our visualizations helped us see that <strong>M'Bappé</strong> is the player who deserves to win the Ballon d'Or. His
                    incredible ability to put pressure on the pitch, and to create a goal-driven dynamic is unmatched.
                </p>
                <p data-aos="fade-up">Thank you for reading this article. We hope you enjoyed it.</p>
            </div>
        </div>
    </div>
</div>
