* {
    font-family: Montserrat;
}

.chart-title {
    font-weight: bold;
    font-size: 32px;
    padding-bottom: 10px;
}

.chart-title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    margin-bottom: 20px;
    margin-top: 150px;
    padding-left: 40px;

    img {
        width: 45px;
        height: 45px;
        margin-right: 30px;
        margin-bottom: 30px;
    }
}

.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.statistic {
    display: flex;
    align-items: center;
    justify-content: center;
    p {
        text-align: center;
        font-size: 16px;
    }
}

.statistics-used {
    margin-bottom: 60px;
}

.italic-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 200px;
    margin-left: 200px;
    margin-bottom: 50px;
    font-style: italic;
    text-align: center;
    font-size: 160%;
    line-height: 1.3;
    p {
        margin-bottom: 20px;
    }
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100% !important;
}

.para-title {
    font-size: 150%;
    line-height: 1.2;
    font-weight: bold;
    padding-left: 40px;
    padding-bottom: 15px;
}

p {
    margin-left: 40px;
    margin-bottom: 50px;
    margin-right: 40px;
    margin-top: 0;
    line-height: 1.2;
}

p.text-paragraph {
    font-size: 150%;
}

td,
tr {
    background: transparent;
}

tr > td {
    padding-bottom: 1em;
}

td {
    text-align: center;
    padding: 0 40px;
    font-size: 16px;
    font-family: Montserrat;
}

.stats-variable {
    font-weight: bold;
}

.last-div {
    margin-bottom: 300px;
}
