<div data-aos="fade-up" class="last-div">
    <div data-aos="fade-up" data-aos-duration="500">
        <div class="chart-title-container">
            <img src="assets/images/abstract-1.png" alt="image" />
            <h1 class="chart-title">Our choice at SportsAI</h1>
        </div>
    </div>
    <div data-aos="fade-up" class="container">
        <p class="text-paragraph">
            This year, our visualizations helped us see that <strong>M'Bappé</strong> is the player who deserves to win the Ballon d'Or. His
            incredible ability to put pressure on the pitch, and to create a goal-driven dynamic is unmatched.
        </p>
        <br />
        <p class="text-paragraph">Thank you for reading this article. We hope you enjoyed it.</p>
    </div>
</div>
