<div class="container">
    <div>
        <div class="intro-title-container">
            <h1 class="intro-title">Portrait of the 2022 Ballon d'Or</h1>
        </div>
    </div>

    <div data-aos="fade-up">
        <div>
            <div class="intro-text">
                <p>
                    Soccer is a rich sport, with a lot of competition. And like every year, it's time to reward the best players in the world for
                    their prowess on the pitch. To make this event better, our team at SportsAI decided to walk you through the most promising players
                    statistics and compare them to take a guess on who will be the best player of the year.
                </p>
            </div>
        </div>
    </div>

    <span class="separator"></span>
</div>
