<div data-aos="fade-up">
    <div class="chart-title-container" data-aos="fade-up" data-aos-duration="500">
        <h1 class="chart-title">Impact on the team’s success</h1>
    </div>
    <div>
        <p class="para" data-aos="fade-up" data-aos-duration="500">
            What’s a captain without his crew ? The collective aspect of the game is often <br />
            underlooked. But a player who’s able to have a positive impact on his teammates is an <br />invaluable quality. In this section, we look
            at the team dynamic when each player is on <br />
            the field.
        </p>
    </div>
    <div data-aos="fade-up" data-aos-duration="500">
        <div style="display: inline-block; font-family: Montserrat; font-size: 150%; padding-left: 150px">
            <div style="font-weight: bold">As far as impact goes:</div>
            <br />
            <div>The more the player is at the top right, the</div>
            <div>more his team manages to seek points</div>
            <div>while having a good +/- differential.</div>
            <br />
            <div>This is why a tooltip shows if the +/- is due</div>
            <div>to few goals conceded or many scored</div>
            <div>when the player is on the pitch.</div>
            <br />
            <div>As we can see, M’bappé stands out once</div>
            <div>again. When he was playing, the team scored</div>
            <div>a whopping eighty-six goals last season.</div>
            <br />
            <div>It's also pretty interesting to see</div>
            <div>that with an identical onG value,</div>
            <div>Benzema has the highest PPM stat (2.44)</div>
            <div>while Nkunku has the lowest (1.71).</div>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
        </div>
        <div style="display: inline-block; padding-right: 25px">
            <div style="justify-content: center">
                <figure id="teamsuccess"></figure>
            </div>
        </div>
    </div>
</div>
