<div data-aos="fade-up">
    <div class="chart-title-container" data-aos="fade-up" data-aos-duration="500">
        <img src="assets/images/abstract-4.png" alt="image" />
        <h1 class="chart-title">Impact on the team’s success</h1>
    </div>
    <div class="italic-text">
        <p data-aos="fade-up" data-aos-duration="500">
            What’s a captain without his crew ? The collective aspect of the game is often underlooked. But a player who’s able to have a positive
            impact on his teammates is an invaluable quality. In this section, we look at the team dynamic when each player is on the field.
        </p>
    </div>
    <div data-aos="fade-up" class="statistics-used">
        <div class="statistic-container grid">
            <table class="statistics">
                <tr>
                    <td class="stats-variable">PPM - Point per matches</td>
                    <td>Average points won by a team when the player was on the pitch.</td>
                </tr>
                <tr>
                    <td class="stats-variable">onG</td>
                    <td>Total goals scored by the team while the player is on the pitch</td>
                </tr>
                <tr>
                    <td class="stats-variable">onGa</td>
                    <td>Total goals conceded by the team while the player is on the pitch</td>
                </tr>
                <tr>
                    <td class="stats-variable">+/-</td>
                    <td>onG - onGa : whether the team scored or conceded more when the player was on the pitch</td>
                </tr>
            </table>
        </div>
    </div>
    <div data-aos="fade-up" data-aos-duration="500" class="container">
        <div class="text-container">
            <div class="para-title">As far as impact goes:</div>
            <p class="text-paragraph">
                The more the player is at the top right, the more his team manages to seek points while having a good +/- differential.
            </p>
            <p class="text-paragraph">
                This is why a tooltip shows if the +/- is due to few goals conceded or many scored when the player is on the pitch.
            </p>

            <p class="text-paragraph">
                As we can see, M’bappé stands out once again. When he was playing, the team scored a whopping eighty-six goals last season.
            </p>

            <p class="text-paragraph">
                It's also pretty interesting to see that with an identical onG value, Benzema has the highest PPM stat (2.44) while Nkunku has the
                lowest (1.71).
            </p>
        </div>
        <div style="justify-content: center">
            <figure id="teamsuccess"></figure>
        </div>
    </div>
</div>
