<div data-aos="fade-up">
    <div data-aos="fade-up" data-aos-duration="500">
        <div class="chart-title-container">
            <img src="assets/images/abstract-5.png" alt="image" />
            <h1 class="chart-title">Opportunity creation</h1>
        </div>
    </div>
    <div data-aos="fade-up">
        <div>
            <div class="italic-text">
                <p>
                    In this section, we are going to relate three metrics for each player to determine which one has the most contribution in terms
                    <br />
                    of creating scoring opportunities.
                </p>
            </div>
            <div data-aos="fade-up" class="statistics-used">
                <div class="statistic-container grid">
                    <table class="statistics">
                        <tr>
                            <td class="stats-variable">GCA - Goal creation actions</td>
                            <td>Number of goal creating actions</td>
                        </tr>
                        <tr>
                            <td class="stats-variable">KP - Key passes</td>
                            <td>Passes that directly lead to a shot</td>
                        </tr>
                        <tr>
                            <td class="stats-variable">PPA</td>
                            <td>Completed passes into the 18-yard box</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div data-aos="fade-up" class="container">
        <figure id="bubble"></figure>
        <div data-aos="fade-up" class="text-container">
            <div class="para-title">The verdict</div>
            <p class="text-paragraph">
                <strong>M'bappé</strong> dominates with an impressive 38 GCAs and about 70 keys passes, leading in both categories by a considerable
                margin with the likes of <strong>Nkunku</strong>.
            </p>
            <p class="text-paragraph">
                It speaks volume knowing that his number of passes in the 18-yard box is an average 60. Far below <strong>Benzema</strong>'s 85. Wich
                means with less activity in the box, Mpabbe can create more.
            </p>
            <p class="text-paragraph">
                At the bottom left, we find <strong>Mané</strong> & <strong>Leao</strong>. Mane is dead last in each categories. As for
                <strong>Leao</strong>, he has about the same number of GCA as <strong>Benzema</strong> despiste being last and first respectively in
                PPA.
            </p>
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
