.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.grid > div {
    display: flex;
    flex-basis: calc(40% - 40px);
    justify-content: center;
    flex-direction: column;
}

.title {
    margin-left: 40px;
    margin-bottom: 10px;
    margin-right: 40px;
    margin-top: 0;
    text-align: center;
    font-size: 20px;
}

.chart-title {
    font-weight: bold;
}

.chart-title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    margin-bottom: 20px;
    padding-left: 40px;

    img {
        width: 42px;
        height: 42px;
        margin-right: 30px;
        margin-bottom: 30px;
    }
}

.svg-container {
    display: inline-block;
    margin: 0 auto;
}

.all-figures {
    width: 70% !important;
}

.grid-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 65% !important;
}

.text-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 30% !important;
    margin-right: 40px;
    font-family: Monserrat;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100% !important;
}

p {
    margin-left: 40px;
    margin-bottom: 10px;
    margin-right: 40px;
    margin-top: 0;
    font-size: 180%;
    line-height: 1.2;
}

h1 {
    margin-bottom: 30px;
    margin-top: 0;
    font-size: 250%;
    line-height: 1.2;
    font-weight: bold;
}

.statistic {
    display: flex;
    align-items: center;
    justify-content: center;
    p {
        text-align: center;
        font-size: 16px;
    }
}

.statistics-used {
    margin-bottom: 60px;
}

.italic-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 200px;
    margin-left: 200px;
    margin-bottom: 50px;
    font-style: italic;
    text-align: center;

    p {
        margin-bottom: 20px;
    }
}
