<div data-aos="fade-up">
    <div class="chart-title-container">
        <img src="assets/images/abstract-2.png" alt="image" />
        <h1 class="chart-title">Efficiency in front of the goal</h1>
    </div>
</div>
<div data-aos="fade-up">
    <div>
        <div class="italic-text">
            <p>A goal comes from a shot on target, and a shot on target comes from a shot.</p>

            <p>
                Let's look at how each player makes the most of every occasion to score. Transforming a simple shot into a goal is very hard, and
                requires a lot of calm, composure and accuracy. The best scorers are the ones who are able to focus on the moment.
            </p>
        </div>
        <div data-aos="fade-up" class="statistics-used">
            <div class="statistic-container grid">
                <div class="statistic">
                    <p style="font-size: 180%; line-height: 1.2; padding-right: 18em; padding-bottom: 50px">Statistics Used:</p>
                </div>
                <div class="statistic"></div>
                <div class="statistic"></div>
                <div class="statistic"></div>
                <div class="statistic">
                    <p style="font-size: 210%; line-height: 1.2; font-weight: bold">Sh - Shots</p>
                </div>
                <div class="statistic">
                    <p>All of the shots realized by the player.</p>
                </div>
                <div class="statistic">
                    <p style="font-size: 210%; line-height: 1.2; font-weight: bold">SoT - Shots on target</p>
                </div>
                <div class="statistic">
                    <p>Those are the shots correctly aimed at the goals</p>
                </div>
                <div class="statistic">
                    <p style="font-size: 210%; line-height: 1.2; font-weight: bold">Gls - Goals</p>
                </div>
                <div class="statistic">
                    <p>Goal !</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div data-aos="fade-up">
    <div class="container">
        <div class="grid-container">
            <div class="grid">
                <div *ngFor="let single of data; index as i">
                    <h2 class="title">{{ single.Player }}</h2>
                    <figure id="waffle-chart-{{ i }}" class="svg-container"></figure>
                </div>
            </div>
        </div>
        <div data-aos="fade-up" class="text-container">
            <h1>The Verdict :</h1>
            <p>
                As we can see, all the players are able to convert a lot of shots into goals. XYZ's accuracy is above the rest, with the highest ratio
                of shot to goal conversion.
            </p>
            <br />
            <p>
                This aspect is extremely important, because it is a concrete proof that the player is able to create opportunities and exploit them.
            </p>
        </div>
    </div>
</div>
