<div data-aos="fade-up">
    <div class="chart-title-container">
        <img src="assets/images/abstract-5.png" alt="image" />
        <h1 class="chart-title">Defensive contribution</h1>
    </div>
</div>
<div data-aos="fade-up">
    <div>
        <div class="italic-text">
            <p>
                As quoted by Sun Tzu : “Attack is the secret of defense; defense is the planning of an attack.” A good player must be versatile on the
                pitch. If everyone is defending from the opponent, even the attackers must know how to intercept the ball and initiate a
                counter-offensive action.
            </p>
            <p>Let's now look at the defensive contribution of each of our players.</p>
        </div>
        <div data-aos="fade-up" class="statistics-used">
            <div class="statistic-container grid">
                <div data-aos="fade-up" class="statistic">
                    <p style="font-size: 180%; line-height: 1.2; padding-right: 18em; padding-bottom: 50px">Statistics Used:</p>
                </div>
                <div class="statistic"></div>
                <div class="statistic"></div>
                <div class="statistic"></div>
                <div class="statistic">
                    <p style="font-size: 210%; line-height: 1.2; font-weight: bold">TklW</p>
                </div>
                <div class="statistic">
                    <p>Tackles that lead to regaining possession</p>
                </div>
                <div class="statistic">
                    <p style="font-size: 210%; line-height: 1.2; font-weight: bold">Succ</p>
                </div>
                <div class="statistic">
                    <p>Number of successful ball presses</p>
                </div>
                <div class="statistic">
                    <p style="font-size: 210%; line-height: 1.2; font-weight: bold">Int</p>
                </div>
                <div class="statistic">
                    <p>Number of successful interceptions</p>
                </div>
                <div class="statistic">
                    <p style="font-size: 210%; line-height: 1.2; font-weight: bold">Blocks</p>
                </div>
                <div class="statistic">
                    <p>Everytime the player blocked a shot</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div data-aos="fade-up">
    <div class="container">
        <div class="grid-container">
            <div data-aos="fade-up">
                <figure id="defensive-actions"></figure>
            </div>
        </div>
        <div data-aos="fade-up" class="text-container">
            <h1>The results :</h1>
            <p>This radar chart will help consider every variable and draw a general portrait of each player's defensive skills.</p>
            <p>
                This time, we can see that Mohamed Salah is an amazing defender. His presence on the pitch allowed his team to regain possession of
                the ball multiple times this year.
            </p>
            <p>Mbappé also stands out with his number of successful tackles.</p>
        </div>
    </div>
</div>
