<div data-aos="fade-up">
    <div class="chart-title-container">
        <img src="assets/images/abstract-3.png" alt="image" />
        <h1 class="chart-title">Defensive contribution</h1>
    </div>
</div>
<div data-aos="fade-up">
    <div>
        <div class="italic-text">
            <p>
                As quoted by Sun Tzu : “Attack is the secret of defense; defense is the planning of an attack.” A good player must be versatile on the
                pitch. If everyone is defending from the opponent, even the attackers must know how to intercept the ball and initiate a
                counter-offensive action.
            </p>
            <p>Let's now look at the defensive contribution of each of our players.</p>
        </div>

        <div data-aos="fade-up" class="statistics-used">
            <div class="statistic-container grid">
                <table class="statistics">
                    <tr>
                        <td class="stats-variable">TklW</td>
                        <td>Tackles that lead to regaining possession</td>
                    </tr>
                    <tr>
                        <td class="stats-variable">Succ</td>
                        <td>Number of successful ball presses</td>
                    </tr>
                    <tr>
                        <td class="stats-variable">Int</td>
                        <td>Number of successful interceptions</td>
                    </tr>
                    <tr>
                        <td class="stats-variable">Blocks</td>
                        <td>Everytime the player blocked a shot</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div data-aos="fade-up">
    <div class="container">
        <div data-aos="fade-up" class="text-container">
            <div class="para-title">The results :</div>
            <p class="text-paragraph">
                This radar chart will help consider every variable and draw a general portrait of each player's defensive contribution.
            </p>
            <p class="text-paragraph">
                This time, we can see that <strong>Mohamed Salah</strong> as a high defensive activity. His presence on the pitch allowed his team to
                regain possession of the ball multiple times this year. He leads in shot blocked, successfull presses & interceptions. He runs
                everywhere on the offensive portion of the field !
            </p>
            <p class="text-paragraph">
                <strong>M'bappé</strong> also stands out with his number of successful tackles and almost equal amount of interceptions as
                <strong>Salah</strong>. <strong>Benzema</strong> on the other hand isn't as prolific in this area of the game stat-wise.
            </p>
        </div>
        <div class="grid-container">
            <div data-aos="fade-up">
                <figure id="defensive-actions"></figure>
            </div>
        </div>
    </div>
</div>
